appdirs==1.4.4
asgiref==3.2.10
attrs==19.3.0
black==19.10b0
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
Django==3.0.8
djangorestframework==3.11.0
djangorestframework-simplejwt==4.4.0
flake8==3.8.3
idna==2.10
importlib-metadata==1.7.0
mccabe==0.6.1
mypy==0.782
mypy-extensions==0.4.3
pathspec==0.8.0
psycopg2==2.8.5
pycodestyle==2.6.0
pydantic==1.6.1
pyflakes==2.2.0
PyJWT==1.7.1
pytz==2020.1
regex==2020.7.14
requests==2.24.0
rest-condition==1.0.3
sqlparse==0.3.1
toml==0.10.1
typed-ast==1.4.1
typing-extensions==3.7.4.2
urllib3==1.25.10
zipp==3.1.0
